.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  min-height: 200px;
  background-color: rgb(255, 246, 116);
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(65, 65, 65, 0.8);
  margin: 5px;
}

.pokemon-card p, button {
  margin-bottom: 5px;
}

.pokemon-card img {
  margin-top: 10px;
}

.pokemon-types {
  font-size: 14px;
}

.pokemon-card li {
  font-size: 12px;
}