.nav{
    background-color: rgb(189, 186, 7);;
}

.logo{
    margin: 6px 80px 6px 30px;
    
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes rotateIn {
    0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
    }
    100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
    }
    @keyframes rotateIn {
    0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
    }
    100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
    } 

a {
    background-image: none;
    background-color: rgb(189, 186, 7);   
    color: black; 
}
.nav-tabs{
    border: none;
    height:42px;
    
}


.nav-link.active {
    height:42px;
    color: #3a3a39;
    background-color: rgb(255, 246, 116);
    border: none;
    /* border-color: #dee2e6 #dee2e6 #fff; */
}
.undernav{
    height:20px;
    background-color: rgb(255, 246, 116);
}