html,body {
    height:100%;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
.pokedex{
    margin: 60px 30px;
    border: 12px groove #949EB0;
    border-radius: 11px;
    align-self: center;
    width: 80%;
    overflow: hidden;
    position: relative;
    
}

.pokelist{
    background-color:white;
    width: 30%;
    height: 100%;
    float: left;
    border: 12px groove #949EB0;
    
}

.stats{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    text-align: center; 
    justify-content: center;
    background-color: rgba(255, 235, 205, 0.651);
    position: absolute;
    right: 0;
    top: 0;
}
.pokediv{
    width: 100%;
    text-align: center; 
    border-bottom: 1px solid #000000;
    padding: 10px;
    background-color: rgba(255, 235, 205, 0.651);
}
.pokediv>p{
    margin: 0px;
}

.selected{
    background-color:rgba(14, 216, 14, 0.281);  
}

.hovered{
    background-color: rgba(247, 171, 203, 0.733);
}

.pokemonImage{
    width: 200px;
    height: 200px;
}
.hide-page-numbers /deep/ .ngx-pagination li:not(.pagination-previous):not(.pagination-next) {
    display: none;
}

#pagination ::ng-deep .ngx-pagination {
    margin: 0px;
    padding: 10px;
    
}

#pagination ::ng-deep .ngx-pagination>a{
    width: 50%;
    
}

